<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="mongoTemplate" class="com.kza.common.data.support.MongoTemplate">
        <constructor-arg name="host" value="${mongo.host}"/>
        <constructor-arg name="port" value="${mongo.port}"/>
        <constructor-arg name="username" value="${mongo.username}"/>
        <constructor-arg name="password" value="${mongo.password}"/>
        <constructor-arg name="databaseName" value="${mongo.databaseName}"/>
        <constructor-arg name="mongoTypeMapper" ref="defaultMongoTypeMapper"/>
    </bean>-->

    <!--<mongo:mongo host="${mongo.host}" port="${mongo.port}">
        <mongo:options connections-per-host="8"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       connect-timeout="1000"
                       max-wait-time="1500"
                       auto-connect-retry="true"
                       socket-keep-alive="true" socket-timeout="1500"
                       slave-ok="true"
                       write-number="1"
                       write-timeout="0"
                       write-fsync="true"/>
    </mongo:mongo>-->
    <mongo:mongo-client id="mongo" host="${mongo.host}" port="${mongo.port}"
                        credentials="${mongo.username}:${mongo.password}@${mongo.databaseName}">
        <mongo:client-options connections-per-host="8"
                       threads-allowed-to-block-for-connection-multiplier="4"
                       connect-timeout="1000"
                       max-wait-time="1500"
                       socket-keep-alive="true" socket-timeout="1500" read-preference="SECONDARY_PREFERRED"/>
    </mongo:mongo-client>

    <mongo:db-factory mongo-ref="mongo" dbname="${mongo.databaseName}" username="${mongo.username}" password="${mongo.password}"/>

    <mongo:mapping-converter type-mapper-ref="defaultMongoTypeMapper"/>

    <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
        <!-- 设置为空，可以把 spring data mongodb 多余保存的"_class"字段去掉 -->
        <constructor-arg name="typeKey">
            <null/>
        </constructor-arg>
    </bean>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="mappingConverter"/>
        <property name="writeResultChecking" value="EXCEPTION"/>
    </bean>
</beans>